[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.26"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
